{% extends 'base.html.twig' %}

{% block title %}Hello InicioController!{% endblock %}

{% block body %}
<p>Mi nombre es: {{ nombre }}</p>
<img src="{{ asset('img/paisaje.jpeg') }}" width="500" height="600">
{% endblock %}
